 <section class="jumbotron text-center">
        <div class="container">
        	<h1>Edition du Potin n°<%= @potin.id %> !</h1>
        	<h4>Titre du potin : <%= @potin.title %></h4>
        	<p>Le remplacer par : </p>
        	<p>Contenu du potin : <%= @potin.content %></p>
        	<p>Le remplacer par : </p>
        </div>
</section>
