      <section class="jumbotron text-center">
        <div class="container">
        
          <h1 class="jumbotron-heading">Formulaire de contact</h1>
					
					<form>
						<div class="form-group">
							<label for="first_name">Votre prénom</label>
							<input type="text" class="form-control" id="first_name">
						</div>
						
						<div class="form-group">
							<label for="last_name">Votre nom</label>
							<input type="text" class="form-control" id="last_name">
						</div>
					
  					<div class="form-group">
    					<label for="InputEmail">Adresse email</label>
   						<input type="email" class="form-control" id="InputEmail">
  					</div>
  					
  					<div class="form-group">
    					<label for="textarea">Votre message ici</label>
    					<textarea class="form-control" id="textarea" rows="3"></textarea>
  					</div>
  				
  				<button type="submit" class="btn btn-primary">Submit</button>
					</form>

        </div>
      </section>
