<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="/images/geoffrey.jpg" alt="Geoffrey">
    <div class="card-body">
      <h5 class="card-title">Geoffrey</h5>
      <p class="card-text">Geoffrey en a pas l'air comme ça, mais il adoooore les potins ! Il baigne dedans depuis tout petit, entre sa mère, ses deux soeurs. Mais le pire ... c'était son père ! Alors forcément, àa lui a donné envie de fonder Gossips mag.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/julie.jpg" alt="Julie">
    <div class="card-body">
      <h5 class="card-title">Julie</h5>
      <p class="card-text">C'est la business girl du groupe. Elle a rencontré Geoffrey en école de commerce et a immédiatement été séduite par l'attractivité du projet. Elle n'est pas friande de potins mais elle croit dans le potentiel de leur app.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/marine.jpg" alt="Marine">
    <div class="card-body">
      <h5 class="card-title">Marine</h5>
      <p class="card-text">Marine est la créative du groupe. En dehors de tous les codes, elle oscille entre des phases de potins-addiction et des phases totalement déconnectées. Elle, elle gère toute l'interface graphique, mais aussi la communication. </p>
    </div>
  </div>
</div>
