 <section class="jumbotron text-center">
        <div class="container">
        	<h1>Bienvenue <%= @name %> !</h1>
        	<h4>Ici c'est notre super site de potins, il est chouette, non ?</h4>
        </div>
</section>
